<html>
    <head>
        <title>Room Reservation</title>
        <link rel="stylesheet" src="css/labtechReservation.css">
        <link rel="stylesheet" src="css/styleguide.css">
        <link rel="stylesheet" src="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>

    <body>
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="images/LabyrinthLogo.png" alt="Labyrinth Logo" onclick="redirectToDashboard()">
        </div>
        
        <div class="labyrinthHeader">Labyrinth</div>
    </header>

    <!-- Selection Section -->
    <div class="selection-container">
        <!-- Building Location Dropdown -->
        <div class="dropdown-container">
            <label for="building-location" class="dropdown-label">Building</label>
            <div class="custom-dropdown">
                <select id="building-location" class="dropdown-select">
                        <option value="Select a Building" selected>Select a Building</option>
                    {{#each buildings}}
                        <option value="{{this.building_name}}" {{#if @first}}selected{{/if}}>{{this.building_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <!-- Student Selection Dropdown -->
        <div class="dropdown-container">
            <label for="student-selection" class="dropdown-label">Assignee</label>
            <div class="custom-dropdown">
                <!-- Student Dropdown -->
                <select id="student-selection" class="dropdown-select">
                    <option value="" selected>Select a Student</option>
                    {{#each students}}
                        <option value="{{this._id}}" data-email="{{this.email}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <!-- Floor Selection Slider -->
        <div class="floor-slider-container">
            <label for="floor-selection" class="slider-label">Floor</label>
            <div class="floor-slider">
                <div class="floor-slider-thumb"></div>
                <div class="floor-numbers">
                    <span class="floor-number" data-floor="1">1</span>
                    <span class="floor-number" data-floor="2">2</span>
                    <span class="floor-number" data-floor="3">3</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Room Reservation Section -->
    <div class="room-container">
        <h2 id="room-title" class="available-rooms-title">Choose a Building</h2>
        <div id="room-container"></div>
    </div>

    <!-- Link to JavaScript -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const buildingDropdown = document.getElementById("building-location");
            
            // Automatically set first building
            const firstBuilding = buildingDropdown.options[0].value;
            buildingDropdown.value = firstBuilding;
        });
    </script>
    <script src="js/labtechReservationJS.js"></script>
    <script src="js/common.js"></script>

    </body>
</html>